@charset "UTF-8";

/*
jQuery SwitchButtons by Catt Small, 2013

SwitchButtons CSS file
----------------------
Include this file's content in your main CSS file, or add it to your CSS folder.

Change the styles in this file as much as you need to.
*/

/* basic settings */
.switch-button {cursor:pointer; color: #CCC; -webkit-appearance: none; border: 0; background: 0; font-size:1.5em;}
.switch-button.active {color:blue;}
.switch-button:active, .switch-button.active:active {color:#666;}

/* star */
.switch-button.star.active {color:#F90;}

/* heart */
.switch-button.heart.active {color:red;}

/* thumbsup */
.switch-button.thumbsup.active {color:blue;}

/* delete/ban */
.switch-button.ban.active {color:red;}

/* checkbox */
.switch-button.checkbox.active {color:blue;}

/* alert/bell/flag */
.switch-button.alert.active {color:red;}

/* lock */
.switch-button.lock.active {color:blue;}